body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f8f8f8;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #52F2B8;
    --secondary-color: rgb(65, 132, 237);
    --red: #e40046;
    --purple: #7579e7;
    --green: #00bdaa;
    --dark: #26395d;
}

.navbar-brand img {
    max-width: 50px;
}

.heading {
    color: var(--secondary-color);
}

.heading span {
    color: var(--dark);
}

.container-flex {
    display: grid;
    grid-template-columns: 35% 65%;
}

@media only screen and (max-width: 600px) {
    .container-flex {
        grid-template-columns: 100%;
        text-align: center;
    }
}


/* Global button style */

.button {
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: rgb(0, 120, 212);
    padding: 0.5rem 1.2rem;
    border-radius: 2px;
    font-size: 1rem;
    min-width: 6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.button:hover {
    background-color: rgb(16, 110, 190);
}

.button.disabled {
    pointer-events: none;
    background-color: #cccccc;
    color: #666666;
}


/* Main section */

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .title h3 {
    font-size: 2.3rem;
    font-weight: 100;
    margin: 0.8rem 0;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}

.reveal {
    opacity: 0;
}

.reveal:hover {
    opacity: 0.2;
}


/* Upload box */

.upload-box {
    font-size: 0.8rem;
    color: #666666;
    cursor: pointer;
    width: 16rem;
    height: 10rem;
    background: #fff;
    border: 0.1rem dashed #838388;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 2rem 0;
}

.upload-box.dragover {
    /* background-color: grey; */
    color: #eeeeee;
    border: 0.1rem solid rgb(0, 120, 212);
    box-shadow: inset 0 0 0 0.1rem rgb(0, 120, 212);
}

.upload-box:hover {
    border-color: rgb(0, 120, 212);
}

.upload-box #image-preview {
    max-width: 14rem;
    max-height: 8rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#image-result {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 20rem;
}

#image-box {
    position: relative;
    width: auto;
    float: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#image-display {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 20rem;
}

#image-display.loading {
    filter: brightness(30%);
}

#pred-result {
    color: black;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0 auto;
}


/* Animation */

#spinner {
    box-sizing: border-box;
    stroke: #cccccc;
    stroke-width: 3px;
    transform-origin: 50%;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(450deg);
    }
}

@keyframes line {
    0% {
        stroke-dasharray: 2, 85.964;
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 65.973, 21.9911;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 2, 85.964;
        stroke-dashoffset: -65.973;
        transform: rotate(90deg);
    }
}