@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #52F2B8;
    --secondary-color: rgb(65, 132, 237);
    --red: #e40046;
    --purple: #7579e7;
    --green: #00bdaa;
    --dark: #26395d;
}

.dark-color {
    color: var(--dark);
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    outline: none;
}

@media (max-width: 768px) {
    .hideOverflowOnMobile {
        overflow: hidden;
    }
}


/* 
.btn-dark {
    background-color: #394043;
    font-weight: 500;
    border: none;
    color: #fff !important;
    padding: 8px 50px;
    border-radius: 25px;
    cursor: pointer;
} */

.primary-color {
    color: var(--primary-color) !important;
}

.hero {
    background: var(--secondary-color);
    min-height: 100vh;
}

.navbar-brand span {
    color: var(--primary-color);
}

.navbar-brand i {
    color: #fff;
}

.navbar-brand i:hover {
    color: var(--primary-color);
}

.navbar-light .navbar-brand {
    color: rgb(17, 65, 84);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbar-brand:hover {
    color: #fff !important;
}

.nav-item {
    font-size: 18px;
    margin: 10px;
    font-weight: 600;
}

.nav-active {
    font-weight: bolder;
}

.hover:hover {
    color: var(--primary-color) !important;
    font-weight: bolder;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-header {
    margin-left: 10%;
    margin-top: 5%;
    /* width: 50%; */
    color: var(--primary-color);
    /* max-width: 600px; */
}

.hero-header p {
    font-size: 20px;
    letter-spacing: 2px;
    text-indent: 100px;
    font-weight: 500;
}

@media only screen and (min-width: 800px) {
    .hero-header p {
        max-width: 80%;
    }
}

.hero-header p span {
    color: #fff;
}

.hero-header .btns {
    margin-left: 20%;
}

.hero-bot {
    margin: 0;
    /* width: 120%; */
}

.hero-bot img {
    width: 100%;
    width: 600px;
    margin: 0px 50px;
}

.btn-dark {
    color: var(--dark);
    padding: 10px 15px;
    font-weight: bolder;
    background-color: transparent;
    outline: var(--dark);
    cursor: pointer;
    border: 2px solid var(--dark);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.dark-active {
    background-color: var(--dark);
    color: #fff;
}

.btn-dark:hover {
    background-color: var(--primary-color);
    color: #fff;
    outline: none;
    border: none;
    transform: scale(1.2);
}

.btn-green {
    color: var(--primary-color);
    padding: 10px 15px;
    font-weight: bolder;
    background-color: transparent;
    outline: var(--dark);
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-green:hover {
    background-color: var(--dark);
    color: var(--primary-color);
    outline: none;
    border: none;
    transform: scale(1.2);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 100vw;
    }
    .hero {
        height: 100%;
        width: 100%;
    }
    .hero-content {
        flex-direction: column;
    }
    .hero-header,
    .hero-content {
        max-width: 100%;
        margin-left: 10px;
    }
    .hero-header .btns {
        margin: 0;
        text-align: center;
    }
    .hero-header p {
        text-indent: 0px;
        width: 95%;
        margin: 10px 0;
    }
    .hero-bot img {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}


/*--------------------------------
End of Hero Section
----------------------------------*/

#features {
    align-items: center;
    padding-top: 4%;
    color: var(--secondary-color);
}

#get-started {
    padding: 3% 0;
}

.section-title {
    font-weight: bolder;
    text-align: center;
    color: #000;
}

.icon {
    width: 25px;
    vertical-align: middle;
    flex: 0 0 auto;
    margin-right: 10px;
}

.card-outer-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.custom-card {
    height: auto;
    box-shadow: 5px 3px 4px #3d3c3c;
    transition: all 0.5s;
}

.feature-card {
    text-align: center;
    width: 18rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.feature-card .card-title {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.feature-card .card-text {
    color: var(--dark);
    font-weight: 700;
}

@media all and (max-width: 968px) {
    .card-outer-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        align-content: space-evenly;
    }
    .feature-card {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 18px;
    }
    #get-started {
        padding: 10% 0;
    }
}

.custom-card:hover,
.btn:hover {
    transform: scale(1.2) !important;
}


/*------------------------------------ 
Getting Started Section
---------------------------------------*/

.card {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgb(18, 102, 238);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.card-img-top {
    padding: 0 25px;
    padding-top: 25px;
    max-height: 350px;
}

.card .card-title {
    color: var(--primary-color);
    font-weight: bolder;
    text-transform: uppercase;
}

.card .card-text {
    font-weight: 600;
    letter-spacing: 1px;
}

.card .card-text span {
    color: #fff;
}